.body {
    font-family: 'Montserrat', sans-serif;
    word-break: break-word;
    justify-items: center;
    align-items: center;
    background-color: #eee;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}