.container {
    margin: 30px 0;
    background-color: white;
}

.container__header {
    padding: 20px;
    margin: 0;
    border-bottom: 2px solid gainsboro;
}

.container__ul {
    padding: 20px;
    margin: 0;
}